/* header-section */
img{
    max-width: 100%;
}
.header{
    background-color: #101446;
}
.header img{
    width: 80px;
}
.main-menu{}
.main-menu ul{
    margin-bottom: 0;
    text-align: right;
}
.main-menu ul li{
    display: inline-block;
    margin-left: -4px;
}
.main-menu ul li a {
	display: block;
	padding: 0 20px;
	color: #fff;
	font-size: 16px;
	line-height: 45px;
    text-decoration: none;
}
/* banner-section */
.banner-section{
    background-image: url(./images/intro-bg.jpg);
    padding: 350px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.banner-section h1{
    
    color: #fff;
    font-size: 30px;
    padding: 10px 0;
    
    
}
.banner-section p{
    color: #fff;
    
}
.defult-btn {
	color: #fff;
	background: #337ab7;
	padding: 10px 20px;
	display: inline-block;
	border-radius: 10px;
	font-size: 15px;
	font-weight: 600;
    margin-top: 60px;
    text-decoration: none;
	
}
/* team-section */
.team-section{
    background-color: #bac1f3;
    padding: 80px 0;
}
.team-section h1{
    font-size: 50px;
    margin-bottom: 50px;
}
.team-btn {
	color: #fff;
	background: #337ab7;
	padding: 10px 20px;
	display: inline-block;
	border-radius: 10px;
	font-size: 15px;
	font-weight: 600;
    margin-top: 20px;
    text-decoration: none;
	
}
.col-md-4 h5{
    margin-top: 5px;
}
.col-md-4 p {
	width: 196px;
	margin: auto;
	font-size: 15px;
	color: #626161;
}

/* about-section */
.about-section{
    background-color: #c2d4ea;
    padding: 80px 0;
}
.about-section h1{
    font-size: 50px;
    margin-bottom: 50px;
}
/* contact-section */
.contact-section{
    background-color: #f5f5f5;
}
.contact-section h1{
    font-size: 50px;
    margin-bottom: 50px;
}

/* footer-section */

